@model LisasTours.Models.ViewModels.ContactVM

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.FullName);
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.CompanyName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Компания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            Имя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Почта
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt>
            Тип
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a> |
    <a asp-action="Index">Back to List</a>
</div>
